@using MvcBookStore.Models
@model List<Cart>
@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>THÔNG TIN GIỎ HÀNG</h2>
<table border="1" align="center" width="100%">
    <tr>
        <td>Mã sách</td>
        <td>Tên sách</td>
        <td>Bìa sách</td>
        <td>Số lượng</td>
        <td>Đơn giá</td>
        <td>Thành tiền</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">@item.iMasach</td>
            <td style="text-align:center">@item.sTensach</td>
            <td width="70px"><img width="70px" src="~/product_imgs/@item.sAnhbia" /></td>
            @using (Html.BeginForm("CapnhatGiohang", "Cart", new { @iMaSP = item.iMasach }))
            {
                <td style="text-align:center"><input style="text-align:center" type="number" min="1" name="txtSoluong" value="@item.iSoLuong" /></td>
                <td style="text-align:center">@String.Format("{0:0,0}", item.dDongia)</td>
                <td style="text-align:center">@String.Format("{0:0,0}", item.dThanhtien)</td>
                <td style="text-align:center"><a href="@Url.Action("Details","BookStore",new { id = item.iMasach})">Chi tiết</a></td>
                <td style="text-align:center">@Html.ActionLink("Xoá", "XoaGiohang", new { @iMaSP = item.iMasach })</td>
                <td style="text-align:center"><input type="submit" value="Cập Nhật" /></td>
            }
        </tr>
    }
    <tr style="font-weight:bold;color:red;text-align:center">
        <td colspan="4">Số lượng sách : @ViewBag.Tongsoluong</td>
        <td colspan="5">Tổng tiền : @String.Format("{0:0,0}", ViewBag.Tongtien) VND</td>
    </tr>
    <tr style="font-weight:bold;color:red;text-align:end">
        <td colspan="9">
            <p>@Html.ActionLink("Xóa Giỏ Hàng", "XoaTatcaGiohang")</p>
            @Html.ActionLink("Đặt hàng", "Dathang", "Cart")
        </td>
    </tr>
</table>