@*@model IEnumerable<MvcBookStore.Models.Sach>*@
@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MvcBookStore.Models.Sach>
@helper Truncate(string input, int leght)
{
if (input.Length < leght)
{
        @input
}
else
{
        @input.Substring(0, leght)<text>...</text>
}
}


@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>QUẢN LÝ THÔNG TIN SÁCH</h2>
<p>
    @*@Html.ActionLink("Thêm mới", "Themmoisach")*@
    <a style="color:black;border:1px solid black;border-radius:5px;background:rgb(217, 228, 228);padding:2px 4px" href="/Admin/Themmoisach">Thêm Mới</a>
</p>
<table style="background:rgb(217, 228, 228)" class="table" border="1">
    <tr>
        <th style="width:200px">Tên Sách</th>
        <th style="width:100px">Giá Bán</th>
        <th style="width:300px">Mô Tả</th>
        <th style="width:120px">Hình Ảnh</th>
        <th style="width:120px">Ngày Cập Nhật</th>
        <th style="width:120px">SL Tồn</th>
        <th style="width:150px">Tên Chủ Đề</th>
        <th style="width:150px">Tên NXB</th>
        <th style="width:200px"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Truncate(item.MoTa, 100)
            </td>
            <td>
                <img style="width:100px" src="@Url.Content("~/product_imgs/"+item.AnhBia)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaXuatBan.TenNXB)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaSach }) |
                @Html.ActionLink("Chi Tiết", "Chitietsach", new { id = item.MaSach }) |
                @Html.ActionLink("Xóa", "Xoasach", new { id = item.MaSach })
            </td>
        </tr>
    }
</table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber )/@Model.PageCount;
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
